@import 'tailwindcss';

@config '../tailwind.config.ts';

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

:root {
  --primary-color: #006814;
  --hovering-color: #39fd72;

  --player1-color: #ff6b00;
  --player2-color: #4073f4;
  --error-color: #ee4444;

  --background: #ffffff;
  --foreground: #171717;

  --toastify-color-success: var(--primary-color);
  --toastify-color-error: var(--error-color);
  --toastify-icon-color-success: var(--toastify-color-success);
  --toastify-icon-color-error: var(--toastify-color-error);

  --retro-border-1-image-source-light: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 6 6' width='6' height='6'><path d='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z' fill='%23171717' /></svg>");
  --retro-border-2-image-source-light: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12'><path d='M2 2h2v2H2zM4 0h2v2H4zM10 4h2v2h-2zM0 4h2v2H0zM6 0h2v2H6zM8 2h2v2H8zM8 8h2v2H8zM6 10h2v2H6zM0 6h2v2H0zM10 6h2v2h-2zM4 10h2v2H4zM2 8h2v2H2z' fill='%23171717' /></svg>");
  --retro-border-1-image-source-dark: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 6 6' width='6' height='6'><path d='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z' fill='%23ededed' /></svg>");
  --retro-border-2-image-source-dark: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12'><path d='M2 2h2v2H2zM4 0h2v2H4zM10 4h2v2h-2zM0 4h2v2H0zM6 0h2v2H6zM8 2h2v2H8zM8 8h2v2H8zM6 10h2v2H6zM0 6h2v2H0zM10 6h2v2h-2zM4 10h2v2H4zM2 8h2v2H2z' fill='%23ededed' /></svg>");

  --retro-border-1-image-source: var(--retro-border-1-image-source-light);
  --retro-border-2-image-source: var(--retro-border-2-image-source-light);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #033205;
    --foreground: #ededed;

    --retro-border-1-image-source: var(--retro-border-1-image-source-dark);
    --retro-border-2-image-source: var(--retro-border-2-image-source-dark);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: 0.75rem;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  border: solid 2px #d6d6d6;

  &:hover {
    background-color: var(--hovering-color);
  }
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

body::-webkit-scrollbar-track {
  background-color: #d6d6d6;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
form,
input,
textarea,
button,
select,
optgroup,
option,
label,
figcaption,
a,
link,
nav,
ul,
ol,
li,
div,
span,
header,
footer,
main,
section,
article,
aside,
details,
dialog,
summary,
data {
  letter-spacing: -0.0375em;
}
